.App {
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (max-width: 678px) {
  .content-app {
   border: red solid 1px;
   min-width: 100%;
   height: 100%;
   justify-content: space-between;
 }
.content-box{
  display:"flex";
  cursor:"pointer";
  width:97%;
  margin-left: auto;
  margin-right: auto;
          
}


 .content-box .title-box{
  font-size: 35px;
 }

 .content-box .subtitle-box{
  font-size: 30px;
 }
}


